.signUpContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.signUpForm {
    color: white;
    width: 20%;
}

.signUpForm h1 {
    font-size: 55px;
}

.signUpText {
    margin-top: 12%;
}

.signUpText h1{
    font-size: 40px;
}

.signUpText p {
    font-size: 20px;
}

.pageSwitch {
    margin: 30%;
}

.linkBtn {
    color: white;
}

.cancelBtn{
}

.cancelBtn button{
    margin: 10%;
    color: red;
    background-color: rgb(52, 51, 51);
    border-radius: 50px;
    border-color: red;
    padding: 2%;
    width: 35%;
}