.header {
   display: flex;
   justify-content: flex-end;
   margin-right: 10%;
}

.title{
    
    font-size: 35px;
    margin-bottom: 0;
}

.title2 {
    margin-top: 0;
    font-size: 20px;
}

.header-btn {
    margin: 25px;
    text-align: center;
}

.header-btn button {
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    border-color: rgb(4, 171, 248);
    color: rgb(4, 171, 248);
    background-color: white;
}