/* .header {
   display: flex;
   justify-content: flex-end;
  
} */

.title{
    font-size: 35px;
    margin-bottom: 0;
}

.title2 {
    margin-top: 0;
    font-size: 20px;
}

.header-btn {
    margin: 25px;
    text-align: center;
    max-width: 25%;
    margin-right: 10%;
}

.header-btn button {
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    border-color: rgb(4, 171, 248);
    color: rgb(4, 171, 248);
    background-color: white;
    width: 100%;
}

.titleBox {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 900px) {
 .header-btn button {
      font-size: 10px;
      width: auto;
    }
  }

 