.loginContainer{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.loginForm {
    color: white;
    width: 20%;
}

.loginForm h1 {
    font-size: 55px;
}

.loginText {
    margin-top: 12%;
}

.loginText h1{
    font-size: 40px;
}

.loginText p {
    font-size: 20px;
}

.pageSwitch {
    margin: 30%;
}

.linkBtn {
    color: white;
}