.form-group{
    padding: 10px;
    margin: auto;
}

.form-input {
    height: 65px;
    border-radius: 15px;
    width: 75%;
    font-size: 20px;
    padding: 5px;
}

.btn{
    width: 75%;
    background-color: rgb(52, 51, 51);
    border-radius: 50px;
    border-color: white;
    padding: 2%;
    margin-top: 12%;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .form-input {
      font-size: 10px;
    }
  }